submodules/depth-diff-gaussian-rasterization
submodules/simple-knn
plyfile==0.8.1
tqdm
imageio==2.27.0
opencv-python
imageio-ffmpeg
scipy
dearpygui
lpips
wandb
wheel
tqdm
pytorch_lightning
black
ruff
hydra-core
jaxtyping
beartype
wandb
einops
colorama
scikit-image
colorspacious
matplotlib
moviepy
imageio
git+https://github.com/dcharatan/diff-gaussian-rasterization-modified
timm
dacite
lpips
e3nn
plyfile
tabulate
svg.py
opencv-python==4.6.0.66
sk-video